#Registration{
    /* Set the background image */
    background-image: url('./1.png'); 
    /* Ensure it covers the whole viewport */
    background-size: cover; 
    /* Fixed position so it doesn't scroll */
    background-attachment: fixed; 
    /* Center the background image */
    background-position: center; 
    /* Make it take the full height of the viewport */
    height: 100%; 
    /* Ensure the image covers the whole width */
    width: 100%; 
    /* Add any additional styles you want */
}

#Registration #form3Example1cg{
  background-color: #f1d6b0; 
  width: 350px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

#loginbutton{
  color: white !important;
}

#Login{
  background-image: url(./1.png);
      /* Ensure it covers the whole viewport */
      background-size: cover; 
      /* Fixed position so it doesn't scroll */
      background-attachment: fixed; 
      /* Center the background image */
      background-position: center; 
      /* Make it take the full height of the viewport */
      height: 100%; 
      /* Ensure the image covers the whole width */
      width: 100%; 
      /* Add any additional styles you want */
}

#Login #form3Example1cg{
  background-color: #f1d6b0; 
  width: 350px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}
#Home{
  background-image: url(./2.png);
      /* Ensure it covers the whole viewport */
      background-size: cover; 
      /* Fixed position so it doesn't scroll */
      background-attachment: fixed; 
      /* Center the background image */
      background-position: center; 
      /* Make it take the full height of the viewport */
      height: 100%; 
      /* Ensure the image covers the whole width */
      width: 100%; 
      /* Add any additional styles you want */
}

#Home>.container a{
  color: black; 
  text-decoration: underline;
  font-size: 20px;
}

#Pricing1{
  background-image: url(./3.png);
      /* Ensure it covers the whole viewport */
      background-size: cover; 
      /* Fixed position so it doesn't scroll */
      background-attachment: fixed; 
      /* Center the background image */
      background-position: center; 
      /* Make it take the full height of the viewport */
      height: 100%; 
      /* Ensure the image covers the whole width */
      width: 100%; 
      /* Add any additional styles you want */
}

#Pricing1>.container a{
  color: #f1d6b0; 
  text-decoration: underline;
  font-size: 20px;
}









